.addToCompare {
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 15px rgba(68, 68, 68, .3);
    padding: 7px;
    height: 265px;
    overflow-y: scroll;
    width: 93%;
    z-index: 9999;
    .compare-list {
      li {
        margin-bottom: 14px;
        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          img {
            width: 60px;
            margin-right: 5px;
          }

          span {
            color: #000;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
    }
  }