<div class="addToCompare">
  <div class="d-flex px-3">
    <img width="11" src="assets/images/search-font-awesome.svg">
    <input type="text" class="form-control border-0" placeholder="Search for Product …" [(ngModel)]="keyword"
      name="keyword" (keyup)="debounceTime(getProductsToCompare, 800)">
  </div>
  <ul class="compare-list">
    <li *ngIf="compareListSpinner" class="text-center pt-5">
      <app-spinner [type]="'inline'"></app-spinner>
    </li>
    <li *ngFor="let product of products">
      <a [routerLink]="['/products/compare']"
        [queryParams]="{mainProduct: mainProductID, compareWith:product.ProductID}">
        <img [src]="product.ProductImage || '../../../assets/images/tv_placeholder.png'">
        <span>{{product.ProductName}}</span>
      </a>
    </li>
    <li class="text-center pt-3" *ngIf="noResultsFound">No result found</li>
  </ul>
</div>