/*******************
mobile customization
********************/
@media(max-width:500px) {
    h1 {
      font-size: 20px;
    }
  
    app-top-search {
      width: 100%
    }
  
    .carousel-caption h5 {
      font-size: 11px !important;
    }
  
    .carousel-caption p,
    .carousel-caption a {
      font-size: 11px !important;
    }
  
    app-landing .widget.styleXfalse {
      height: 390px !important;
      background-size: contain !important
    }
  
    .widget.styleXfalse {
      height: 490px !important;
  
      h1 {
        font-size: 20px !important;
        width: 50% !important;
      }
  
      h2 {
        font-size: 16px !important;
        width: 50% !important;
      }
  
      p {
        font-size: 12px !important;
        width: 50% !important;
      }
  
      .logo-container {
        width: 60% !important;
      }
    }
  
    .product-desc {
      text-align: center;
  
      >h1 {
        font-size: 16px !important;
      }
  
      >.w-50 {
        width: 100% !important;
      }
    }
  
    .widget.styleXtrue {
      p {
        width: 100% !important;
      }
  
      h1 {
        width: 90% !important;
        font-size: 22px !important;
      }
    }
  
    header .search-input {
      width: 90% !important;
    }
  
    .stores-list ul {
      li {
        flex: 50% !important;
      }
    }
  
    .middle-section-news {
      margin-right: -10px !important;
      margin-left: -10px !important;
      flex-wrap: wrap;
  
      >li {
        flex-basis: 100% !important;
        margin-bottom: 10px;
      }
    }
  
    .widget.grid {
      flex-wrap: wrap !important;
    }
  
    app-faqs {
      .panel-default>.panel-heading a {
        width: 90% !important;
      }
  
      .panel-default>.panel-heading a:before {
        right: -45px !important;
      }
  
      .panel-default>.panel-heading {
        min-height: 50px !important;
      }
    }
  
    section>h1 .search {
      width: 95% !important;
      margin-bottom: 10px;
    }
  
    .search+.float-right {
      width: 96%;
      float: left !important;
    }
  
    .download-list-item {
      flex-wrap: wrap;
  
      >* {
        flex-basis: 44%;
      }
    }
  
    section .downloads {
      margin-left: inherit !important;
      margin-top: 14px !important;
      flex-basis: 100% !important;
  
      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
  
        li {
          flex-basis: 40%;
        }
      }
    }
  
  }