.widget {
  position: relative;
  border-radius: 5px;
  background: #FFF;
  height: 100%;
  cursor: pointer;
  h4>a {
    font-weight: bold;
  }

  >img, >iframe {
    width: 100%;
    height: 60%;
  }
}

.share-btn {
  position: absolute;
  top: 10%;
  right: 5%
}

.widget.cover {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 15px;

  small,
  h4 {
    z-index: 9;
  }

  &::before {
    content: "";
    width: 100%;
    display: inline;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, .7));
  }
}

.widget.grid {
  display: flex;

  h4>a {
    font-weight: bold;
    color: #000;
  }

  >* {
    &:first-child {
      flex-basis: 30%;
    }

    margin: 0 10px;
    flex-basis: 70%;
  }

  .right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .share-btn {
    position: absolute;
    top: 10%;
    left: 5%;
  }
}
