<div [ngSwitch]="theme" style="height:100%;">
  <div *ngSwitchCase="'default'" (click)="onClickNews(news.ID)" class="widget border-bottom">
    <img *ngIf="news.ArticleImage" [src]="news.ArticleImage">
    <iframe *ngIf="news.YoutubeLink" [src]="news.YoutubeLink | safe:'resourceUrl'" frameborder="0" allow="fullscreen"
          allowfullscreen></iframe>
    <h4 class="pt-2"><a [routerLink]="['news-details']" [queryParams]="{id:news.ID}"
        class="text-dark">{{news.Title}}</a></h4>
    <button *ngIf="news.ArticleImage" class="plain-btn share-btn"><img width="40" src="assets/images/share-icon.svg"></button>
    <div class="widget-footer d-flex justify-content-between pb-2">
      <small class="text-muted">{{news.Date}}</small>
      <small class="text-muted">Source: {{news.Source}}</small>
    </div>
  </div>

  <div *ngSwitchCase="'cover'" (click)="onClickNews(news.ID)" class="widget pb-1 cover" [ngStyle]="{'background-image': 'url(' + news.ArticleImage + ')'}">
      <iframe *ngIf="news.YoutubeLink" [src]="news.YoutubeLink | safe:'resourceUrl'" frameborder="0" allow="fullscreen"
      allowfullscreen></iframe>
    <h4><a [routerLink]="['news-details']" [queryParams]="{id:news.ID}" class="text-white">{{news.Title}}</a></h4>
    <button class="plain-btn share-btn"><img width="40" src="assets/images/share-icon.svg"></button>
    <div class="widget-footer d-flex justify-content-between border-top py-1">
      <small class="text-light">{{news.Date}}</small>
      <small class="text-light">Source: {{news.Source}}</small>
    </div>
  </div>

  <div *ngSwitchCase="'grid'" class="widget border-bottom grid">
    <img *ngIf="news.ArticleImage" [src]="news.ArticleImage">
    <iframe *ngIf="news.YoutubeLink" [src]="news.YoutubeLink | safe:'resourceUrl'" frameborder="0" allow="fullscreen"
          allowfullscreen></iframe>
    <div class="right-section">
      <h4 class="pt-2"><a [routerLink]="['news-details']" [queryParams]="{id:news.ID}">{{news.Title}}</a></h4>
      <button *ngIf="news.ArticleImage" class="plain-btn share-btn"><img width="40" src="assets/images/share-icon.svg"></button>
      <div class="widget-footer d-flex justify-content-between pb-2">
        <small class="text-muted">{{news.Date}}</small>
        <small class="text-muted">Source: {{news.source}}</small>
      </div>
    </div>
  </div>
</div>
