<header class="py-5">
  <div class="container">
    <h1>Need Support?</h1>
    <h2>We are here to help</h2>
    <!-- <div class="search-input">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control" placeholder="Enter your model number or Keyword…">
    </div> -->
  </div>
</header>
<nav class="container py-4">
  <h2 class="text-center">What help do you need?</h2>
  <ul class="py-3">
    <li><a routerLinkActive routerLinkActive="active-link" #fags="routerLinkActive" routerLink="/support/faqs"><img
          width="104" height="104"
          [src]="fags.isActive ? 'assets/images/support/faq-active-icon.svg' : 'assets/images/support/faq-deactive-icon.svg'">
        <div>FAQ</div>
      </a></li>
    <li><a routerLinkActive routerLinkActive="active-link" #videos="routerLinkActive" routerLink="/support/videos"><img
          width="104" height="104"
          [src]="videos.isActive ? 'assets/images/support/videos-active-icon.svg' : 'assets/images/support/videos-deactive-icon.svg'">
        <div>Videos</div>
      </a></li>
    <li><a routerLinkActive routerLinkActive="active-link" #downloads="routerLinkActive"
        routerLink="/support/downloads"><img width="104" height="104"
          [src]="downloads.isActive ? 'assets/images/support/downloads-active-icon.svg' : 'assets/images/support/downloads-deactive-icon.svg'">
        <div>Downloads</div>
      </a></li>
    <!-- <li><a routerLinkActive routerLinkActive="active-link" #warrenty="routerLinkActive"
        routerLink="/support/warrenty"><img width="104" height="104"
          [src]="warrenty.isActive ? 'assets/images/support/warrenty-active-icon.png':'assets/images/support/warrenty-deactive-icon.svg'">
        <div>Warrenty</div>
      </a></li> -->
    <li><a routerLinkActive routerLinkActive="active-link" #email="routerLinkActive" routerLink="/support/email"><img
          width="104" height="104"
          [src]="email.isActive ? 'assets/images/support/email-active-icon.svg':'assets/images/support/email-deactive-icon.svg'">
        <div>Contact Us</div>
      </a></li>
    <li><a routerLinkActive routerLinkActive="active-link" #phone="routerLinkActive" routerLink="/support/phone"><img
          width="104" height="104"
          [src]="phone.isActive ? 'assets/images/support/phone-active-icon.svg':'assets/images/support/phone-deactive-icon.svg'">
        <div>Phone</div>
      </a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
