@import '../../assets/scss/variables.scss';

header {
  background-image: url(../../assets/images/support/support-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-weight: bold;
    font-size: 39px;
    padding: 0;
    margin: 0;
  }

  h2 {
    font-family: sfpro-bold;
    font-size: 53px;
    letter-spacing: -3px;
  }

  .search-input {
    display: flex;
    width: 30%;
    align-items: center;
    background: #FFF;
    border: 1px solid #cbd0d4;
    padding: 0 10px;

    input {
      border: 0;
    }

    i {
      color: $primary-btn-color
    }
  }
}

nav {
  h2 {
    letter-spacing: -3px;
    font-family: sfpro-bold;
    font-size: 45px;
    color: #000000;
  }

  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;

    li {
      margin-bottom: 30px;

      a {
        &.active-link div {
          color: $primary-btn-color
        }

        img {}

        div {
          font-family: sfpro-bold;
          font-size: 22px;
          color: #000000;
        }
      }
    }
  }
}
