@import '../../../assets/scss/variables.scss';

ngx-gallery /deep/ .ngx-gallery-image,
ngx-gallery /deep/ .ngx-gallery-thumbnail {
  background-size: contain !important;
}

ngx-gallery /deep/ .ngx-gallery-icon-content {
  color: $primary-btn-color
}

ngx-gallery /deep/ .ngx-gallery-thumbnails .ngx-gallery-active {
  border: 2px solid $primary-btn-color;
  background-size: 64% !important;
}
