.widget {
  background-size: cover;
  min-height: 20rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 2rem;

  a {
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ed1c24;
    font-weight: bold;

    img {
      display: inline-block;
    }
  }
}

.widget.styleVertical {
  min-height: 570px;
}

.widget.styleHorizontal {
  color: #FFF;
  justify-content: center;
}

.widget.styleXtrue {
  color: #FFF;
  height: 600px;
  text-align: left;
  align-items: flex-start;
  justify-content: center !important;

  p {
    width: 30%;
  }

  .logo-container img {
    margin-bottom: 10px;
    max-width: 215px;
  }

  h1 {
    text-align: left;
    width: 30%;
  }
  h2 {
    text-align: left;
    width: 30%;
  }
  .logo-container {
    text-align: left;
    width: 30%;
  }
}

.widget.styleXfalse {
  color: #FFF;
  height: 600px;
  text-align: left;
  align-items: flex-end;
  justify-content: center !important;

  p {
    width: 30%;
  }

  .logo-container img {
    max-width: 215px;
    margin-bottom: 10px;
  }

  h1 {
    text-align: left;
    width: 30%;
  }
  h4 {
    text-align: left;
    width: 30%;
  }
  .logo-container {
    text-align: left;
    width: 30%;
  }
}
