<div class="widget px-5" [ngStyle]="{'background-image': 'url(' + data?.image +')', 'color': themeColor}"
  [ngClass]="style">
  <div *ngIf="data?.logo" class="logo-container">
    <img [src]="data?.logo">
  </div>
  <h1>{{data?.title}}</h1>
  <h4>{{data?.subTitle}}</h4>
  <p>{{data?.description}}</p>
  <a *ngIf="data?.url && data?.urlType !== 'external'" class="mt-3 text-white" [routerLink]="data?.url">{{data?.urlTxt}} <img width="8"
      class="mx-2" src="assets/images/white-arrow.svg"></a>
  <a *ngIf="data?.url && data?.urlType === 'external'" class="mt-3" [href]="data?.url" target="_blank">{{data?.urlTxt}} <img
      width="8" class="mx-2" src="assets/images/arrow-right.svg"></a>
</div>
