<form class="d-flex">
  <div class="mx-2 bg-white px-2 d-flex">
    <img width="11" src="assets/images/change-location.svg">
    <select class="form-control" [(ngModel)]="country" name="country">
      <option *ngFor="let country of countries" [value]="country.ID">{{country.Name}}</option>
    </select>
  </div>

  <button (click)="setCoutry()" class="primary-btn py-1 px-3"><app-spinner *ngIf="loading" [type]="'inline'" [theme]="'text-default'"></app-spinner> Continue</button>
</form>
