<div *ngIf="type === 'default'" class="spinner-container my-5" [ngClass]="{'fixed': fixedSpinner}">
  <div class="spinner-grow" [ngClass]="theme" role="status"></div>
</div>

<span *ngIf="type === 'inline'" class="spinner-grow spinner-grow-sm" [ngClass]="theme" role="status" aria-hidden="true"></span>