.products-list {

    display: flex;
    flex-wrap: wrap;
  
    li {
      flex: 0 0 25%;
    }
  
    @media(max-width:500px) {
      li {
        flex: 0 0 100%;
      }
    }
  
  }