<app-breadcrumbs [data]="breadcrumbsInfo"></app-breadcrumbs>

<div class="container">
  <ul class="products-list mt-4">
    <li *ngFor="let product of products">
      <app-product-item [product]="product"></app-product-item>
    </li>
  </ul>

  <app-spinner *ngIf="loading"></app-spinner>

  <div *ngIf="noProducts" class="alert alert-info text-center shadow border my-5">Sorry! there is no available products
    at the moment!</div>
</div>

<app-widget-article [style]="'styleHorizontal'" [data]="support"></app-widget-article>
