@import '../../../assets/scss/variables.scss';

header {
  background-image: url(../../../assets/images/find-a-store-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    font-family: sfpro-bold;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.63);
    font-size: 49px;
    letter-spacing: -3px;
    color: #FFF
  }

  .search-input {
    display: flex;
    width: 40%;
    align-items: center;
    background: #FFF;
    border: 1px solid #cbd0d4;
    padding: 0 10px;
    margin: auto auto 30px auto;

    input {
      border: 0;
    }

    i {
      color: $primary-btn-color
    }
  }
}
.stores-list ul{
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 40px;
  li {
    flex: 33%;
    margin-bottom: 20px;
  }
}