<header class="py-5">
  <div class="container text-center">
    <h2 class="mt-5">Find a store</h2>
    <div class="search-input">
      <i class="fa fa-search"></i>
      <input (keyup)="debounceTime(getStores, 800)" [(ngModel)]="storeName" name="storeName" type="text"
        class="form-control" placeholder="Enter store name or Keyword…">
    </div>
    <button *ngIf="onChanges" (click)="storeName = ''; getStores();onChanges = false"
      class="plain-btn btn-sm text-white">Show All</button>

  </div>
</header>
<div class="container my-5">
  <div class="spinner-container my-5" *ngIf="loading">
    <div class="spinner-grow text-danger" role="status"></div>
  </div>
  <div class="alert alert-danger" *ngIf="onErr">Something went wrong! please try again!</div>
  <ul class="stores-list">
    <li *ngFor="let store of stores">
      <h3 class="mb-4"><img class="mr-3" width="38" [src]="store.CountryFlag">{{store.CountryName}} Stores</h3>
      <ul>
        <li *ngFor="let branch of store.Stores">
          <h4>{{branch.StoreName}}</h4>
          <h5 class="text-muted">{{branch.Address}}</h5>
          <h5 class="text-muted">{{branch.ContactPerson}}</h5>
          <h5 class="text-muted">{{branch.Mobile}}</h5>
          <h5 class="text-muted">{{branch.PhoneNumber}}</h5>
          <h5 class="text-muted">{{branch.Email}}</h5>
        </li>
      </ul>
    </li>
  </ul>
</div>
