section {
  >h1 {
    background: #bcc0c7;
    color: #FFF;
    font-size: 20px;
    padding: 5px 15px;
    line-height: 38px;

    .search {
      display: flex;
      align-items: center;
      background: #FFF;
      color: #ccc;
      padding: 0 10px;
      border-radius: 3px;

      input {
        border: 0;
      }
    }
  }
}
