<section>
  <h1>Most Popular Videos</h1>
  <app-spinner *ngIf="loading1"></app-spinner>

  <ul>
    <li class="d-flex mb-3" *ngFor="let video of mostPopular">
      <div class="video">
        <iframe [src]="video.Link | safe:'resourceUrl'" width="200" height="100" frameborder="0" allow="fullscreen"
          allowfullscreen></iframe>
      </div>
      <div class="video-details mx-3 py-3">
        <h4>{{video.Title}}</h4>
        <h5>{{video.SupportGroupName}}</h5>
        <h6>{{video.ViewsCount}}</h6>
      </div>
    </li>
  </ul>
</section>
<section>
  <h1>Videos
    <div class="float-right mx-3 search">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Search in Videos …" class="form-control" [(ngModel)]="videoName" name="videoName"
        (keyup)="debounceTime(getVideos, 800)">
    </div>
    <!-- <div class="float-right">
      <select class="form-control">
        <option>Sort by</option>
      </select>
    </div> -->
    <div class="clearfix"></div>
  </h1>
  <app-spinner *ngIf="loading"></app-spinner>
  <div class="alert alert-info shadow border" *ngIf="noResult">Sorry! we cannot find what you are looking for...</div>
  <ul>
    <li class="d-flex mb-3" *ngFor="let video of videos">
      <div class="video">
        <iframe [src]="video.Link | safe:'resourceUrl'" width="200" height="100" frameborder="0" allow="fullscreen"
          allowfullscreen></iframe>
      </div>
      <div class="video-details mx-3 py-3">
        <h4>{{video.Title}}</h4>
        <h5>{{video.SupportGroupName}}</h5>
        <h6>{{video.ViewsCount}}</h6>
      </div>
    </li>
  </ul>
</section>
