footer {
  overflow: hidden;
  background-color: #fff;
  ul {
    li {
      a {
        color: #000;
        font-size: 14px;
        font-weight: bold;
        margin: 0 20px 0 0;
        cursor: pointer;
      }
    }
  }
}
