<footer class="pt-3">
  <div class="container">

    <ul class="d-flex float-left">
      <li *ngFor="let link of footerLinks.FooterLinks">
        <a [routerLink]="['/core/footer-content']" [queryParams]="{id: link.ID}">{{link.Name}}</a>
      </li>
    </ul>

    <ul class="d-flex float-right">
      <li *ngFor="let link of socialLinks">
        <a target="_blank" [href]="link.Value">
          <i class="fa" [ngClass]="{'fa-facebook' : link.Key === 'Facebook',
        'fa-twitter' : link.Key === 'Twitter',
        'fa-instagram' : link.Key === 'Instagram',
        'fa-youtube-play' : link.Key === 'Youtube'}" 
        aria-hidden="true"></i>
      </a></li>
    </ul>

    <div class="clearfix"></div>
    <p class="text-muted pb-3 w-100">
      <small [innerHtml]="footerLinks.FooterInfo | safe:'html'">
      </small>
    </p>

    <p class="border-top text-muted text-center p-3">
      <small>
        Copyright © {{copyRights | date:'yyyy'}} Toshiba Elaraby Visual & Appliances Marketing Company. All Rights
        Reserved.
      </small>
    </p>
  </div>
</footer>

<!-- Get Content Modal -->
<!-- <div class="modal fade" id="getContent" tabindex="-1" role="dialog" aria-labelledby="getContentLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title w-100 text-center" id="getContentLabel">{{modalData.title}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p [innerHTML]="modalData.content | safe:'html'"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
