<section>
  <h1>Call Us</h1>
  <app-spinner *ngIf="loading"></app-spinner>

  <div class="info px-3">
    <h4 class="my-3" [innerHtml]="contactInfo[0]?.Value | safe:'html'"></h4>
    <p class="text-muted">
      {{contactInfo[1]?.Key}} : <span
        [innerHtml]="contactInfo[1]?.Value | safe:'html'">{{contactInfo[1]?.Value}}</span><br>
      {{contactInfo[2]?.Key}} : <span [innerHtml]="contactInfo[2]?.Value | safe:'html'">{{contactInfo[1]?.Value}}</span>
      <!-- {{contactInfo[3]?.Key}} : <span [innerHtml]="contactInfo[3]?.Value | safe:'html'">{{contactInfo[1]?.Value}}</span> -->
    </p>
  </div>
  <div class="my-3">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</section>