<div class="container mt-5">
  <div class="row">
    <app-spinner *ngIf="loading" [fixedSpinner]="true"></app-spinner>

    <div class="col-md-9 col-12 bg-white">
      <h3 class="my-3">Latest News</h3>
      <div class="row">
        <!-- news left -->
        <ul class="col-md-4 col-12">
          <li *ngFor="let item of latestNews">
            <app-vertical-widget-news [news]="item" [theme]="'default'"></app-vertical-widget-news>
          </li>
        </ul>

        <!-- news middle -->
        <ul class="middle-col-news col-md-8 col-12 p-0">
          <li *ngFor="let item of centerColNews; let i = index">
            <app-vertical-widget-news [news]="item" [theme]="i == 1 ? 'default' : 'cover'"></app-vertical-widget-news>
          </li>
        </ul>
      </div>

      <ul class="middle-section-news">
        <li *ngFor="let item of middleSection; let i = index">
          <app-vertical-widget-news [news]="item" [theme]="'cover'"></app-vertical-widget-news>
        </li>
      </ul>

      <!-- tabs -->
      <!-- <div class="row">
        <div class="tabs">
          <ul class="tabs-header">
            <li><a (click)="onMostRecent = true" [ngClass]="{'active' : onMostRecent}">Most Recent</a></li>
            <li><a (click)="onMostRecent = false" [ngClass]="{'active' : !onMostRecent}">Most Popular</a></li>
          </ul>
          <ul [ngClass]="{'d-none': !onMostRecent}" class="tabs-content">
            <li *ngFor="let item of mostRecent" class="mb-2">
              <app-vertical-widget-news [news]="item" [theme]="'grid'"></app-vertical-widget-news>
            </li>
            <li class="text-center mt-2"><a class="text-danger font-weight-bold" href="#">See more</a></li>
          </ul>
          <ul [ngClass]="{'d-none': onMostRecent}" class="tabs-content">
            <li *ngFor="let item of mostPopular" class="mb-2">
              <app-vertical-widget-news [news]="item" [theme]="'grid'"></app-vertical-widget-news>
            </li>
            <li class="text-center mt-2"><a class="text-danger font-weight-bold" href="#">See more</a></li>
          </ul>
        </div>
      </div> -->

    </div>
    <!-- news right -->
    <div class="col-md-3 col-12">
      <ul class="right-col-news">
        <li class="mb-3" *ngFor="let item of rightColNews; let i = index">
          <app-vertical-widget-news [news]="item" [theme]="i == 0 ? 'default' : 'cover'"></app-vertical-widget-news>
        </li>
      </ul>
    </div>
  </div>
</div>
