.middle-col-news {
  display: flex;
  flex-wrap: wrap;

  li {
    flex-basis: calc(50% - 10px);
    height: 185px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;

    &:first-child {
      flex-basis: 100%;
      min-height: 230px;

    }
  }
}

.right-col-news /deep/ .widget.cover {
  min-height: 13rem;
}

.middle-section-news {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;

  li {
    flex-basis: 30%;
    min-height: 13rem;

    &:first-child {
      flex-basis: 70%;
      margin-right: 5px;

    }
  }
}

.tabs {
  .tabs-header {
    display: flex;

    li {
      margin: 0 10px;

      a {
        color: #000;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;

        &.active {
          color: red;
        }
      }
    }
  }
}
