<header class="py-5">
  <div class="container text-center">
    <h2 class="mt-5">Are you a distributor?</h2>
    <h5>Send your request and join our family</h5>
  </div>
</header>
<div class="container my-5 bg-white py-3 shadow">
  <h2 class="bg-secondary text-white mb-4 p-2"><small>Distributor info</small></h2>
  <div class="alert alert-danger" *ngIf="onErr">
    <p *ngFor="let err of errors">{{err}}</p>
  </div>
  <div class="alert alert-success" *ngIf="onSuccess">{{successMsg}}</div>
  <app-spinner *ngIf="loading"></app-spinner>
  <form autocomplete="off" (ngSubmit)="saveDistributor(disForm)" #disForm="ngForm">
    <div class="row">
      <div class="form-group col-md-6 col-12">
        <label>Company Name <span class="text-danger">*</span></label>

        <input type="text" class="form-control" [(ngModel)]="companyName" name="companyName" placeholder="Company Name"
          required>
        <div class="has-error">This field is required</div>

      </div>
      <div class="form-group col-md-6 col-12">
        <label>Country Name <span class="text-danger">*</span></label>

        <select class="form-control" [(ngModel)]="countryId" name="countryId" required>
          <option value="null" selected hidden>Select Country</option>
          <option *ngFor="let country of countries" [value]="country.ID">{{country.Name}}</option>
        </select>
      </div>
      <div class="form-group col-md-6 col-12">
        <label>Company Number <span class="text-danger">*</span></label>

        <input type="number" class="form-control" [(ngModel)]="companyNumber" name="companyNumber"
          placeholder="Company Number" required>
        <div class="has-error">This field is required</div>
      </div>
      <div class="form-group col-md-6 col-12">
        <label>Email Address <span class="text-danger">*</span></label>

        <input type="email" class="form-control" required [(ngModel)]="companyEmail" name="companyEmail"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="Company Email">
        <div class="has-error">Invalid email address</div>
      </div>
      <div class="form-group col-md-6 col-12">
        <label>Contact Person</label>

        <input type="text" class="form-control" [(ngModel)]="contactPerson" name="contactPerson"
          placeholder="Contact Person (name)">
      </div>
      <div class="form-group col-md-6 col-12">
        <label>Contact Number <span class="text-danger">*</span></label>

        <input type="number" class="form-control" [(ngModel)]="contactNumber" name="contactNumber"
          placeholder="Contact Number" required>
          <div class="has-error">This field is required</div>
      </div>
      <div class="form-group col-12">
        <label>Attachment</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">
              <i class="fa fa-paperclip" aria-hidden="true"></i></span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="file" #myInput (change)="handleFileInput($event.target.files)"
              aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">{{fileToUpload?.name || 'Choose file'}}</label>
          </div>
        </div>
      </div>
      <div class="form-group col-12 text-center mt-3">
        <button type="submit" class="primary-btn w-25 py-2">Send Request</button>
      </div>
    </div>
  </form>
</div>
