@import '../../../assets/scss/variables.scss';

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.panel-default>.panel-heading a:before {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: bold;
  color: $primary-btn-color;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: left;
  transition: -webkit-transform .25s linear;
  transition: transform .25s linear;
  transition: transform .25s linear, -webkit-transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
  width: 17px;
  height: 17px;
  border: 2px solid $primary-btn-color;
  border-radius: 100%;
  line-height: 13px;
  text-align: center;
  font-size: 15px;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #fff;
}

.panel-default>.panel-heading a[aria-expanded="true"]:before {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:before {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.panel-body {
  padding: 10px 28px;

  ul {
    li {
      font-size: 14px;
      font-weight: 500;
      color: #838a93;
    }
  }
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $primary-btn-color;
    background-color: $primary-btn-color;
}