<!-- <button class="btn-outline-danger btn btn-block mb-3" (click)="applyFilters()">Apply</button> -->
<div class="panel-group mb-5" id="accordion" role="tablist" aria-multiselectable="true">
  <div *ngFor="let filter of filters;let i = index" class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse' + i"
          [attr.aria-expanded]="true ? i < 2 : false" [attr.aria-controls]="'collapse'+i">
          {{filter.Name}}
        </a>
      </h4>
    </div>
    <div [id]="'collapse' + i" class="panel-collapse collapse in" [ngClass]="{'show': i < 2}" role="tabpanel"
      [attr.aria-labelledby]="'heading'+i">
      <div class="panel-body">
        <ul class="mb-3">
          <li *ngFor="let option of filter._lstAttributeOptions">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [id]="'customCheck' + option.OptionID"
                (click)="onFilter(option.OptionID)">
              <label class="custom-control-label" [attr.for]="'customCheck' + option.OptionID">{{option.Name}}</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
