section {
  >h1 {
    background: #bcc0c7;
    color: #FFF;
    font-size: 20px;
    padding: 5px 15px;
    line-height: 38px;
  }
}

.autocomplete-list {
  position: relative;
  background: #FFF;
  padding: 10px;
  z-index: 99;
  bottom: -4px;
  box-shadow: 0 0 1px #444;
  border-radius: 2px;
  max-height: 200px;
  overflow-y: scroll;
  ul {
    li {
      a {
        display: block;
        padding: 5px;
      }
    }
  }
}
