<section>
  <h1>Email</h1>

  <div class="alert alert-danger" *ngIf="onErr">
    <p *ngFor="let err of errors">{{err}}</p>
  </div>
  <div class="alert alert-success" *ngIf="onSuccess">{{successMsg}}</div>
  <form autocomplete="off" #emailForm="ngForm" (ngSubmit)="sendEmail(emailForm)" class="my-3 px-4">
    <p class="my-4 font-weight-bold">It is empty here right now, please try again later!</p>
    <div class="row">
      <div class="form-group col-md-6 col-12">
        <label>Full Name <span class="text-danger">*</span></label>
        <input type="text" placeholder="Full name" [(ngModel)]="emailFormModel.FullName" name="FullName"
          class="form-control">
      </div>
      <div class="form-group col-md-6 col-12">
        <label>Phone Number <span class="text-danger">*</span></label>
        <input type="number" placeholder="Phone Number" [(ngModel)]="emailFormModel.PhoneNumber" name="PhoneNumber"
          class="form-control">
      </div>
      <div class="form-group col-md-6 col-12">
        <label>Subject <span class="text-danger">*</span></label>
        <input type="text" placeholder="Subject" class="form-control" [(ngModel)]="emailFormModel.Subject"
          name="Subject">
      </div>
      <div class="form-group col-md-6 col-12">
        <label>Email Address <span class="text-danger">*</span></label>
        <input type="text" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
          class="form-control" [(ngModel)]="emailFormModel.EmailAddress" name="EmailAddress">
        <div class="has-error">Invalid email address</div>
      </div>
      <div class="form-group col-md-6 col-12">
        <label>Model Number</label>
        <input type="text" placeholder="Model Number" class="form-control" (blur)="resetAutoComplete('blur')" (focus)="resetAutoComplete()"
          (keyup)="debounceTime(onModelEnter, 500)" [(ngModel)]="emailFormModel.ProductName" name="ProductName">
        <div class="autocomplete-list" *ngIf="onCompleteList">
          <ul>
            <li *ngFor="let product of modelsList"><button type="button" class="btn btn-link"
                (click)="onSelect(product)">{{product.Name}}</button></li>
            <li *ngIf="noResult">No Result Found</li>
          </ul>
        </div>
      </div>
      <div class="form-group col-md-6 col-12">
        <label>Serial Number</label>
        <input type="text" placeholder="Serial Number" class="form-control" [(ngModel)]="emailFormModel.SerialNumber"
          name="SerialNumber">
      </div>
      <div class="form-group col-12">
        <label>Message <span class="text-danger">*</span></label>
        <textarea placeholder="Message" class="form-control" [(ngModel)]="emailFormModel.Message"
          name="Message"></textarea>
      </div>

      <div class="form-group col-12">
        <label>Attachment</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">
              <i class="fa fa-paperclip" aria-hidden="true"></i></span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" #myInput id="file" (change)="handleFileInput($event)"
              aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">{{fileToUpload?.name || 'Choose file'}}</label>
          </div>
        </div>
      </div>

      <div class="form-group col-12 text-center">
        <button [disabled]="loading" type="submit" class="w-25 py-2 primary-btn font-weight-bold">
          <app-spinner [theme]="'text-light'" [type]="'inline'" *ngIf="loading"></app-spinner> Submit
        </button>
      </div>
    </div>
  </form>
</section>
