<section>
  <h1>Downloads
    <div class="float-right mx-3 search">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Search in Downloads …" (keyup)="debounceTime(getDownloads, 800)"
        [(ngModel)]="downloadName" name="downloadName" class="form-control">
    </div>
    <!-- <div class="float-right">
      <select class="form-control">
        <option>Sort by</option>
      </select>
    </div> -->
    <div class="clearfix"></div>
  </h1>
  <app-spinner *ngIf="loading"></app-spinner>
  <div class="alert alert-danger mx-3" *ngIf="onErr">Something went wrong! please try again!</div>
  <div class="alert alert-danger mx-3" *ngIf="noResult">Sorry! we can't find what you are looking for!</div>

  <ul class="px-3">
    <li class="d-flex my-3 download-list-item" *ngFor="let download of downloads">
      <div class="thumbnail">
        <img [src]="download.ProductImage" />
      </div>
      <div class="item-details mx-3 py-3">
        <h4>{{download.Name}}</h4>
        <h5>{{download.Code}}</h5>
      </div>
      <div class="downloads">
        <ul>
          <li *ngFor="let file of download.Downloads" class="mb-3">
            <a [href]="file.PDF" target="_blank">
              <img width="40" src="assets/images/pdf-ico.svg">
              <div class="mx-2">
                <h4 class="m-0">{{file.FileName}}</h4>
                <h5 class="text-muted m-0">{{file.description}}</h5>
                <h5 class="text-muted">{{file.type}}</h5>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
