<section>
  <h1>Most Popular Questions</h1>
  <app-spinner *ngIf="loading1"></app-spinner>
  <div class="panel-group mb-5 px-3" id="mostPopular" role="tablist" aria-multiselectable="true">
    <div *ngFor="let panel of mostPopular;let i = index" class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#mostPopular" [href]="'#collapse' + i"
            [attr.aria-expanded]="true ? i == 0 : false" [attr.aria-controls]="'collapse'+i">
            {{panel.Question}}
          </a>
        </h4>
      </div>
      <div [id]="'collapse' + i" class="panel-collapse collapse" [ngClass]="{'in show': i == 0}" role="tabpanel"
        [attr.aria-labelledby]="'heading'+i">
        <div class="panel-body">
          {{panel.Answer}}
        </div>
      </div>
    </div>
  </div>

</section>
<section>
  <h1>FAQS
    <div class="float-right mx-3 search">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Search in FAQs …" class="form-control" [(ngModel)]="faqName" name="faqName" (keyup)="debounceTime(getFaqs, 800)">
    </div>
    <!-- <div class="float-right">
      <select class="form-control">
        <option>Sort by</option>
      </select>
    </div> -->
    <div class="clearfix"></div>
  </h1>
  <app-spinner *ngIf="loading"></app-spinner>
  <div class="alert alert-info shadow border" *ngIf="noResult">Sorry! we cannot find what you are looking for...</div>
  <div class="panel-group mb-5 px-3" id="faqs" role="tablist" aria-multiselectable="true">
    <div *ngFor="let panel of faqs;let i = index" class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#faqs" [href]="'#collapseFaqs' + i" aria-expanded="false"
            [attr.aria-controls]="'collapse'+i">
            {{panel.Question}}
          </a>
        </h4>
      </div>
      <div [id]="'collapseFaqs' + i" class="panel-collapse collapse" role="tabpanel"
        [attr.aria-labelledby]="'heading'+i">
        <div class="panel-body">
          {{panel.Answer}}
        </div>
      </div>
    </div>
  </div>

</section>
