.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 40px;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  position: relative;
}

.panel-default>.panel-heading a:before {
  content: "";
  position: absolute;
  top: 1px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-style: normal;
  font-weight: bold;
  color: red;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: -webkit-transform .25s linear;
  transition: transform .25s linear;
  transition: transform .25s linear, -webkit-transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
  line-height: 26px;
  font-size: 15px;
  border: 1px solid;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #fff;
}

.panel-default>.panel-heading a[aria-expanded="true"]:before {
  content: "\f107";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:before {
  content: "\f106";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.panel-title {
  margin: 0;
}

.panel-body {
  padding: 0px 10px 10px;

  ul {
    li {
      font-size: 14px;
      font-weight: 500;
      color: #838a93;

      label {
        width: 40%;
        font-weight: bold;
      }

      @media(max-width:500px) {
        label {
          width: 50%;
        }
      }
    }
  }
}

section {
  >h1 {
    background: #bcc0c7;
    color: #FFF;
    font-size: 20px;
    padding: 5px 15px;
    line-height: 38px;

    .search {
      display: flex;
      align-items: center;
      background: #FFF;
      color: #ccc;
      padding: 0 10px;
      border-radius: 3px;

      input {
        border: 0;
      }
    }
  }
}
