<div class="container my-4">
  <h3 class="mb-4">Results for "{{keyword}}" ({{products.length}} Items found)</h3>

  <div class="row mt-5">
    <div class="col-md-3 col-12">
      <app-products-filters [filters]="filters" (emitFilters)="getSearchResults($event)"></app-products-filters>
    </div>
    <div class="col-md-9 col-12">
      <!-- <div class="tags mb-4">
        <ul>
          <li *ngFor="let tag of tags;let i = index"><span>{{tag.name}}</span><button (click)="removeTag(i)"
              class="plain-btn"><i class="fa fa-times" aria-hidden="true"></i></button></li>
          <li *ngIf="tags.length > 0"><button (click)="clearAllTags()" class="plain-btn">Clear all</button></li>
        </ul>
      </div> -->

      <div>
        <app-spinner *ngIf="loading"></app-spinner>
        <div class="alert alert-info" *ngIf="noResultsFound">No results found!</div>
        <ul class="products-list">
          <li *ngFor="let product of products">
            <app-product-item [product]="product"></app-product-item>
          </li>
        </ul>

        <!-- <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left" aria-hidden="true"></i>
                Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>
</div>
