@import '../../../assets/scss/variables.scss';

.tags {
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;

    li {
      font-size: 14px;
      font-weight: 500;
      color: #838a93;
      float: left;
      border-radius: 14.5px;
      border: solid 1px #cbd0d4;
      background-color: #f5f6f7;
      margin: 0 4px;
      padding: 0 10px;

      button {
        font-size: 11px;
        font-weight: 500;
        color: #b0b7c0;
        margin: 0 5px;
      }

      &:last-child {
        background: none;
        border: 0;

        button {
          color: $primary-btn-color;
          font-weight: bold;
        }
      }
    }
  }
}

.products-list {

  display: flex;
  flex-wrap: wrap;

  li {
    flex: 0 0 33%;
  }

  @media(max-width:500px) {
    li {
      flex: 0 0 100%;
    }
  }

}

.page-link {
  color: #444;
  font-size: 12px;
  font-weight: bold;
}
.page-item.active .page-link {
    background-color: $primary-btn-color;
    border-color: $primary-btn-color;
}
