<div class="panel-group mb-5" id="accordion" role="tablist" aria-multiselectable="true">
  <div *ngFor="let panel of panels;let i = index" class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse' + i" [attr.aria-expanded]="true ? i == 0 : false"
          [attr.aria-controls]="'collapse'+i">
          {{panel.GroupName}}
        </a>
      </h4>
    </div>
    <div [id]="'collapse' + i" class="panel-collapse collapse" [ngClass]="{'in show': i == 0}" role="tabpanel"
      [attr.aria-labelledby]="'heading'+i">
      <div class="panel-body">
        <ul class="mb-3">
          <li *ngFor="let item of panel._lstAttributes">
            <label>{{item.AttributeName}}</label>
            <span>{{item.Option}}</span>
            <img class="img-fluid" *ngIf="item.type == 'image'" [src]="item.src">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
