.additional-features {
  h5 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #000000;
  }

  ul.additional-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

    li {
        flex:0 0 20%;
        margin-bottom: 40px;
      img {
          max-width: 150px;
      }
    }
  }
}
.nav-tabs .nav-item {
    font-weight: bold;
    color: #000;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: 0;
    color: red;
    background-color: #fff;
    border-bottom: 2px solid red;
}
