<nav class="container">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" (click)="getProductFeatures()" data-toggle="tab" href="#nav-features" role="tab"
      aria-controls="nav-features" aria-selected="true">Features</a>

    <a class="nav-item nav-link" id="nav-profile-tab" (click)="getProductSpecs()" data-toggle="tab" href="#nav-specifications" role="tab"
      aria-controls="nav-specifications" aria-selected="false">Specifications</a>

    <a class="nav-item nav-link" (click)="getProductDownloads()" id="nav-contact-tab" data-toggle="tab"
      href="#nav-support" role="tab" aria-controls="nav-support" aria-selected="false">Support</a>
  </div>
</nav>
<app-spinner *ngIf="loading"></app-spinner>
<div class="tab-content" id="nav-tabContent">
  <!-- Tab Features -->
  <div class="tab-pane fade show active" id="nav-features" role="tabpanel" aria-labelledby="nav-home-tab">
    <app-widget-article *ngFor="let widget of widgets; let even = even" [data]="widget" [style]="'styleX'+even">
    </app-widget-article>

    <section *ngIf="logos.length > 0" class="container additional-features mt-4">
      <h5>Additional Features</h5>
      <ul class="additional-features">
        <li *ngFor="let logo of logos"><img [src]="logo.image"></li>
      </ul>
    </section>
  </div>

  <!-- Tab Specifications -->
  <div class="tab-pane fade" id="nav-specifications" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="container mt-4">
      <app-product-collapsible-panel [panels]="specifications"></app-product-collapsible-panel>
    </div>
    <app-widget-article [style]="'styleHorizontal'" [data]="support"></app-widget-article>
  </div>

  <!-- Tab Support -->
  <div class="tab-pane fade" id="nav-support" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="container">
      <ul class="support-links mt-4">
        <li *ngFor="let download of downloads">
          <a [href]="download.PDFLink" target="_blank" class="d-flex">
            <img src="assets/images/pdf-ico.svg" width="50">
            <div class="d-flex flex-column m-3">
              <strong class="text-dark">{{download.FileName}}</strong>
              <small class="text-muted">Download Product Card</small>
              <small class="text-muted">PDF File</small>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <app-widget-article [style]="'styleHorizontal'" [data]="support"></app-widget-article>
  </div>
</div>
