<!-- <div class="border-bottom">
  <div class="container">
    <div class="px-3 d-flex search-product py-1">
      <img width="26" src="assets/images/search-anticon.svg">
      <input type="text" class="form-control border-0" placeholder="Search for product" [(ngModel)]="keyword" name="keyword" (keyup.enter)="search()">
    </div>
  </div>
</div> -->

<app-spinner *ngIf="loading"></app-spinner>
<app-carousel [slides]="sliderImgs"></app-carousel>
<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <app-widget-article [data]="single[0]" [style]="'styleXfalse'" [themeColor]="'black'"></app-widget-article>
    </div>
    <div class="col-md-6 col-12 p-0">
      <app-widget-article [style]="'styleVertical'" [data]="grid[0]"></app-widget-article>
    </div>
    <div class="col-md-6 col-12 p-0">
      <app-widget-article [style]="'styleVertical'" [data]="grid[1]"></app-widget-article>
    </div>
  </div>


  <app-widget-article [style]="'styleHorizontal'" [data]="support"></app-widget-article>
</div>
