@import '../../../assets/scss/variables.scss';

header {
  background-color: $primary-bg-color;
  color: #FFF;
  font-size: 12px;
}
button{
    color: #FFF;
    font-size: 12px;
}
p{
  font-size: 12px;
}