<header class="p-2">
  <div class="container">
    <p class="float-md-left pt-1 mb-md-0 mb-2">Choose another country or region to see content specific to your location.</p>
    <app-region-select class="float-md-left"></app-region-select>
    <a routerLink="/find-store" class="plain-btn float-right pt-1 mx-2 text-white"><i class="fa fa-map-marker" aria-hidden="true"></i> Find a store</a>

    <button routerLink="/become-distributor" class="plain-btn float-right pt-1"><img src="assets/images/store-ico.svg" width="13"> Become a
      distributor</button>
    <div class="clearfix"></div>
  </div>
</header>
<app-main-menu></app-main-menu>
