<div class="border-bottom bg-white">
  <div class="container p-0">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="site-name float-left mr-5">
        <a class="navbar-brand" routerLink="/"><img src="assets/images/logo.svg"></a>
        <span class="slogan">TV products for Middle East and Africa</span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <div class="dropdown show mx-3">
            <a class="btn btn-default dropdown-toggle font-weight-bold px-0" href="#" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              TVs
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" *ngFor="let category of categories" [routerLink]="['/products/product-list']"
                [queryParams]="{id:category.ID}">{{category.Name}}</a>
            </div>
          </div>
          <a class="nav-item nav-link mx-3" routerLink="/news">News</a>
          <a class="nav-item nav-link mx-3" routerLink="/support">Support</a>
        </div>
      </div>
      <app-top-search></app-top-search>
    </nav>
  </div>
</div>
