.navbar-nav>a {
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

.slogan {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a5a5a;
}

.navbar-nav {
  justify-content: flex-end;
  width: 91%;
}
.navbar-brand{
  margin-right: 36px;
}