  <div class="d-flex border px-3">
    <img width="11" src="assets/images/search-font-awesome.svg">
    <input type="text" class="form-control border-0" placeholder="Search for Product …" [(ngModel)]="keyword" name="keyword" (keyup.enter)="search()">
  </div>
