.breadcrumbs {
  background-position: 0 0;
  overflow: hidden;
  background-repeat: no-repeat;
  // background-size: contain;
  ul {
    margin-top: 20px;
    float: left;

    li {
      float: left;

      &:after {
        content: "/";
        display: inline-block;
        margin: 0 5px;
        color: #FFF;
      }

      &:last-child:after {
        content: ""
      }

      a {
        color: #FFF;
        font-size: 14px;
      }
    }
  }

  h1 {
    clear: both;
    color: #FFF;
    width: 38%;
  }
}
