<div class="breadcrumbs" [ngStyle]="{'background-image': 'url(' + data.background + ')', 'min-height' : productPage ?  '130px' : '320px',
'background-size' : productPage ?  'cover' : 'auto'}">
  <div class="container">
    <ul class="mt-5">
      <li *ngFor="let path of data.paths"><a class="text-shadow" [routerLink]="path.url"
          [queryParams]="path.params">{{path.name}}</a></li>
    </ul>

    <h1 class="py-4 text-shadow" *ngIf="data.description">{{data.description}}</h1>
  </div>
</div>
