<div class="product-item p-3 mb-3">
  <div class="product-image text-center mb-3">
    <img class="w-100" [src]="product.ProductImage">
  </div>
  <h4>{{product.Name}}</h4>
  <small>{{product.Code}}</small>
  <p class="mb-3">{{product.ShortDescription}}</p>

  <ul class="d-flex justify-content-between">
    <li><a [routerLink]="['/products/product']" [queryParams]="{ProductID:product.ProductID, catId: catId}"
        class="plain-btn text-danger">See
        Details <img width="5" src="assets/images/arrow-right.svg"></a></li>
    <li><button (click)="onSelectCompare()" class="plain-btn"><img width="13" src="assets/images/compare.svg"> Add to
        Compare</button>
    </li>
  </ul>
  <app-compare-panel *ngIf="showCompare" [mainProductID]="product.ProductID"></app-compare-panel>
</div>
