.product-item {
  position: relative;

  p {
    font-size: 12px;
    font-weight: 300;
    color: #838a93;
  }

  small {
    font-weight: bold;
  }
}

ul {
  li {
    a {
      font-size: 13px;
      color: #ed1c24;
      font-weight: bold;
    }

    ;

    button {
      font-size: 13px;
      font-weight: bold;
      color: #666666;
    }
  }
}
