.carousel-caption {
  top: 19%;
  left: 10%;
  right: auto;
  text-align: left;
  color: #000;

  h5 {
    font-size: 48px;
    font-weight: 600;
    color: #000000;
  }

  p {
    font-size: 20px;
    font-weight: 300;
    color: #000000;
  }

  a {
    font-size: 18px;
    font-weight: 500;
  }
}
