<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" *ngFor="let slide of slides; let i = index"
      [ngClass]="{'active' : i == 0}" [attr.data-slide-to]="i"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let slide of slides; let i = index" [ngClass]="{'active' : i == 0}">
      <img class="d-block w-100" [src]="slide.Image" alt="First slide">
      <div class="carousel-caption d-block">
        <h5 class="w-75">{{slide.Title}}</h5>
        <p>{{slide.SubTitle}}</p>
        <a [href]="slide.URL" target="_blank" class="plain-btn text-danger mt-md-4 float-left">See Details <img width="8"
            src="assets/images/arrow-right.svg"></a>
      </div>
    </div>
  </div>
  <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
