h1 {
  background: #bcc0c7;
  color: #FFF;
  font-size: 20px;
  padding: 5px 15px;
  line-height: 38px;
}

.compare-cols {
  display: flex;
  align-items: flex-start;
  .titles-col {
      width: 20%
  }
  .product-col{
      width: 50%;
      text-align: center;
  }
  .hidden-vis{
      opacity: 0;
  }
}
