<div class="container">
  <h1 class="my-3">Compare</h1>
  <div class="compare-cols">
    <!-- <div class="titles-col">
      <h3 class="mt-5">Display</h3>
      <ul>
        <li>Screen Size</li>
        <li>Resolution</li>
        <li>Panel Type</li>
        <li>Brightness</li>
      </ul>
      <h3 class="mt-5">Main Features</h3>
      <ul>
        <li>Smart TV</li>
        <li>Process Type</li>
        <li>Total Picture Quality</li>
      </ul>
      <h3 class="mt-5">Video</h3>
      <ul>
        <li>Wide Color Gamut</li>
        <li>HDR</li>
        <li>Dolby Vision HDR</li>
        <li>MEMC</li>
        <li>UHD Upscaler</li>
        <li>Picture Modes</li>
      </ul>
    </div> -->
    <div class="product-col">
      <div class="form-group w-75 mx-auto mb-3">
        <select class="form-control" [(ngModel)]="selectedProduct" name="selectedProduct"
          (change)="getProductDetails(selectedProduct , 'main')">
          <option *ngFor="let product of products" [value]="product.ProductID">{{product.ProductName}}</option>
        </select>
      </div>
      <div class="mb-5">
        <img class="mb-3" height="200"
          [src]="mainProductData?.ProductImage ||'../../../assets/images/tv_placeholder.png'">
        <h2>{{mainProductData?.ProductName}}</h2>
        <h3>{{mainProductData?.ProductCode}}</h3>
        <br>
        <app-spinner *ngIf="loadingMainProduct"></app-spinner>
      </div>
      <div class="specs" *ngFor="let spec of mainProductData?.Specs">
        <h3 class="mb-5 border py-3">{{spec.GroupName}}</h3>
        <ul>
          <li class="mb-4" *ngFor="let option of spec._lstAttributes">
            <h4 class="text-muted m-0">{{option.AttributeName}}</h4>
            <p>{{option.Option}}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-col">
      <div class="form-group w-75 mx-auto mb-3">
        <select class="form-control" (change)="getProductDetails(selectedProductWith , 'secondary')"
          [(ngModel)]="selectedProductWith" name="selectedProductWith">
          <option *ngFor="let product of products" [value]="product.ProductID">{{product.ProductName}}</option>
        </select>
      </div>
      <div class="mb-5">
        <img class="mb-3" height="200"
          [src]="compareWithData?.ProductImage ||'../../../assets/images/tv_placeholder.png'">
        <h2>{{compareWithData?.ProductName}}</h2>
        <h3>{{compareWithData?.ProductCode}}</h3>
        <br>
        <app-spinner *ngIf="loadingSecondaryProduct"></app-spinner>

      </div>
      <div class="specs" *ngFor="let spec of compareWithData?.Specs">
        <h3 class="mb-5 border py-3">{{spec.GroupName}}</h3>
        <ul>
          <li class="mb-4" *ngFor="let option of spec._lstAttributes">
            <h4 class="text-muted m-0">{{option.AttributeName}}</h4>
            <p>{{option.Option}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
