<div class="container my-4">
  <app-spinner *ngIf="loading"></app-spinner>
  <h1>{{news.Title}}</h1>
  <p class="mb-3"><small class="text-muted">{{news.Date}}</small></p>
  <div *ngIf="news.ArticleImage" class="news-img">
    <img [src]="news.ArticleImage" alt="" class="img-fluid">
  </div>
  <div *ngIf="news.YoutubeLink" class="news-iframe">
    <iframe [src]="news.YoutubeLink | safe:'resourceUrl'" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
  </div>
  <p class="mb-3"><small class="text-muted">Source: {{news.Source}}</small></p>

  <div class="news-details">
    <!-- <ul class="share-btns d-flex flex-column float-left mr-5">
      <li><a class="text-dark" href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a class="text-dark" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="text-dark" href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul> -->
    <p class="px-3">{{news.FullDescription}}</p>
  </div>

</div>
