@import "./assets/scss/variables.scss";
@import "./assets/scss/mobile.scss";
@import '~font-awesome/css/font-awesome.css';
/* @font-face */
@font-face {
  font-family: "sfpro-light";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/sfpro-light.eot");
  src: local("sfpro-light"), url("./assets/fonts/sfpro-light.woff") format("woff"), url("./assets/fonts/sfpro-light.ttf") format("truetype"), url("./assets/fonts/sfpro-light.svg#sfpro-light") format("svg");
}

@font-face {
  font-family: "sfpro-bold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/sfpro-bold.eot");
  src: local("sfpro-bold"), url("./assets/fonts/sfpro-bold.woff") format("woff"), url("./assets/fonts/sfpro-bold.ttf") format("truetype"), url("./assets/fonts/sfpro-bold.svg#sfpro-bold") format("svg");
}

/*************
buttons
***************/
.plain-btn {
  border: 0;
  padding: 0;
  background: none;
}

.primary-btn {
  background: $primary-btn-color;
  color: #FFF;
  border: 0;

  &[disabled] {
    background: #9f9d9d;
    cursor: not-allowed;
  }
}

/****************
  RESET
  ******************/
*,
body {
  font-family: 'sfpro-light', Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: #fafafa
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
  font-size: 18px;
}

a:focus,
button:focus,
select:focus,
.form-control:focus {
  outline: 0;
  box-shadow: none;
}

a,
button {
  transition: all .3s ease 0s;
}

a:hover,
button:hover {
  opacity: .7;
  text-decoration: none;
}

h1 {
  font-family: "sfpro-bold";
  letter-spacing: -2px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-family: "sfpro-bold";
  color: #000000;
}

h4 {
  font-size: 14px;
  font-family: "sfpro-bold";
  color: #000000;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

.spinner-container {
  text-align: center;

  &>div {
    width: 100px;
    height: 100px;
  }
}

.text-shadow {
  text-shadow: 0 0 2px #7f7f7f;
}

form {
  .has-error {
    color: red;
    font-size: 10px;
    font-weight: bold;
  }

  label {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
}

form.ng-untouched.ng-invalid .has-error {
  display: none;
}

input.ng-touched.ng-invalid+.has-error {
  display: block;
}

input.ng-touched.ng-valid+.has-error {
  display: none;
}

input.ng-untouched.ng-invalid+.has-error {
  display: none;
}

input.ng-touched.ng-invalid {
  border: 1px solid red !important;
}

app-landing .styleXfalse {

  h1,
  h4,
  p {
    color: #FFF;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}