.font-size-sm {
  font-size: 15px;
}

.btn-group-toggle {
  .btn-outline-secondary {
    border: solid 1px #cbd0d4;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
    margin: 0 3px;
    text-shadow: none;
    padding: 2px 10px;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      color: #FFF
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .btn-outline-secondary.active {
    border: solid 1px #ff0006;
    background: none;

    &:hover {
      color: #000
    }
  }
}

h1 {
  font-size: 39px;
  font-weight: 600;
  color: #000000;
}

h5 {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

li {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
}

.share-links {
  li {
    float: left;
    margin: 0 5px;

    a {
      color: #444;
      font-size: 15px;
    }
  }
}

.add-to-compare-container {
  position: relative;
}
