<app-breadcrumbs [data]="breadcrumbsInfo"></app-breadcrumbs>
<div class="container">
  <app-spinner *ngIf="loading"></app-spinner>
  <div class="row my-5">
    <!-- product gallery -->
    <div class="col-md-6 col-12">
      <app-product-slider [galleryImages]="galleryImages"></app-product-slider>
    </div>

    <!-- product description -->
    <div class="col-md-6 col-12 product-desc">
      <div class="font-size-sm">
        <label class="text-muted">Size Name: </label>
        <strong> {{productDetails?.SizeName}}</strong>
      </div>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label *ngFor="let size of productDetails?.Sizes;let i =index" class="btn btn-outline-secondary mb-2"
          [ngClass]="{'active': productDetails.ProductID == size.ProductID}">
          <input type="radio" (focus)="onSelectSize(size.ProductID)" name="options" [id]="'option' + i"
            autocomplete="off" checked> {{size.SizeName}}
        </label>

      </div>
      <h1 class="mt-3">{{productDetails?.ProductName}}</h1>
      <h5>{{productDetails?.Code}}</h5>
      <ul>
        <li *ngFor="let item of productDescriptionList">{{item}}</li>
      </ul>
      <button routerLink="/find-store" class="primary-btn w-50 py-2">Find a store</button>

      <!-- Add to compare -->
      <div class="add-to-compare-container">
        <div class="text-center w-50 mt-3">
          <button (click)="onSelectCompare()" class="plain-btn font-size-sm"><img width="22"
              src="assets/images/compare.svg"> Add to
            Compare</button>
        </div>
        <app-compare-panel *ngIf="showCompare" [mainProductID]="productDetails.ProductID"></app-compare-panel>
      </div>
      <div class="share-links w-50 mt-3">
        <label class="text-muted float-left font-size-sm">Share this product</label>

        <ul class="float-right">
          <li>
            <fb-like url="https://www.toshiba-teva.com/products/product?ProductID={{productId}}&catId={{catID}}">
            </fb-like>
            <!-- <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
          </li>
          <!-- <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- tabs -->
<app-product-tabs></app-product-tabs>
